:root {
    
    /* Note: The text font variables are used in a shorthand font setting.
    
    The only 2 mandatory values in a shorthand font setting are font-size and font-family.
    
    Also, the font-family value must be the last one used in the shorthand font declaration,
    and while font-family must always be the last value, the optional properties must come before font-size.
    
    Examples:
    
        Only mandatory values...
        font: 16px Arial, sans-serif;
    
        Optional values included, placed before font-size...
        font: italic bold 16px "Times New Roman", serif;
    
    */
    
    --page-title-text-color: #FFF;
    --page-title-text-font-size: 33px;
    --page-title-text-font-family: "Times New Roman", serif;
    
    --product-name-text-color: #FFF;
    --product-name-text-font-size: 22px;
    --product-name-text-font-family: "Times New Roman", serif;
    
    --product-quan-amount-text-color: #FFF; /* Amount Styles are used on Cart Page */
    --product-quan-amount-text-font-size: 33px;
    --product-quan-amount-text-font-family: "Times New Roman", serif;
    
    --product-price-amount-text-color: #FFF; /* Amount Styles are used on Cart Page */
    --product-price-amount-text-font-size: 33px;
    --product-price-amount-text-font-family: "Times New Roman", serif;
    
    --product-price-text-color: #FFF;
    --product-price-text-font-size: 33px;
    --product-price-text-font-family: "Times New Roman", serif;
    
    --product-price-override-text-color: #FFF;
    --product-price-override-text-font-size: 33px;
    --product-price-override-text-font-family: "Times New Roman", serif;
    
    --product-price-discount-text-color: #3F3;
    --product-price-discount-text-font-size: 33px;
    --product-price-discount-text-font-family: "Times New Roman", serif;
    
    --product-image-border-radius: 11px;
    
    --product-input-text-color: #0FF;
    --product-input-text-font-size: 44px;
    --product-input-text-font-family: "Times New Roman", serif;

    /* 
    HOW TO CHANGE SVG ICON COLORS:
    Because these are <img> tags, you must use a CSS filter to change their color.
    Use this tool to generate a filter from a HEX color: https://codepen.io/sosuke/pen/P9goY7
    */
    --product-input-svg-filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(130deg) brightness(100%) contrast(100%);
}


/* Product List Page */
.hl-product-list-item-details  .hl-product-list-product-name {
    font: var(--product-name-text-font-size) var(--product-name-text-font-family) !important;
    color: var(--product-name-text-color) !important;
}

.hl-product-list-item-details  .hl-product-list-product-price {
    font: var(--product-price-text-font-size) var(--product-price-text-font-family) !important;
    color: var(--product-price-text-color) !important;
}

.hl-product-list-item-details  .hl-product-list-price-override {
    font: var(--product-price-override-text-font-size) var(--product-price-override-text-font-family) !important;
    color: var(--product-price-override-text-color) !important;
}

.hl-product-list-item-details  .hl-product-list-price-discount {
    font: var(--product-price-discount-text-font-size) var(--product-price-discount-text-font-family) !important;
    color: var(--product-price-discount-text-color) !important;
}

.hl-product-list-item-details  .image-wrapper {
    border-radius: var(--product-image-border-radius) !important;
}


/* Product Details Page */
.product-detail-container  .hl-product-detail-product-name {
    font: var(--product-name-text-font-size) var(--product-name-text-font-family) !important;
    color: var(--product-name-text-color) !important;
}

.product-detail-container  .hl-product-detail-product-price {
    font: var(--product-price-text-font-size) var(--product-price-text-font-family) !important;
    color: var(--product-price-text-color) !important;
}

.product-detail-container  .hl-product-detail-price-override {
    font: var(--product-price-override-text-font-size) var(--product-price-override-text-font-family) !important;
    color: var(--product-price-override-text-color) !important;
}

.product-detail-container  .hl-product-detail-price-discount {
    font: var(--product-price-discount-text-font-size) var(--product-price-discount-text-font-family) !important;
    color: var(--product-price-discount-text-color) !important;
}

.product-detail-container  .image-zoom-wrapper {
    border-radius: var(--product-image-border-radius) !important;
}


/* Shopping Cart Page */
.c-store-cart  .hl-cart-heading {
    font: var(--page-title-text-font-size) var(--page-title-text-font-family) !important;
    color: var(--page-title-text-color) !important;
}

.c-store-cart .hl-quantity-input-container .hl-quantity-input {
    font: var(--product-input-text-font-size) var(--product-input-text-font-family) !important;
    color: var(--product-input-text-color) !important;
    background: transparent !important;
}

.c-store-cart .hl-quantity-input-container .action-icon {
    filter: var(--product-input-svg-filter) !important;
}

.c-store-cart  .hl-cart-product-name {
    font: var(--product-name-text-font-size) var(--product-name-text-font-family) !important;
    color: var(--product-name-text-color) !important;
}

.c-store-cart  .item-amount-wrapper * {
    font: var(--product-price-amount-text-font-size) var(--product-price-amount-text-font-family) !important;
    color: var(--product-price-amount-text-color) !important;
}

.c-store-cart  .hl-quantity-input {
    font: var(--product-input-text-font-size) var(--product-input-text-font-family) !important;
    color: var(--product-input-text-color) !important;
}

.c-store-cart  .cart-subtotal * {
    font: var(--product-price-override-text-font-size) var(--product-price-override-text-font-family) !important;
    color: var(--product-price-override-text-color) !important;
}

.c-store-cart  .cart-total * {
    font: var(--product-price-discount-text-font-size) var(--product-price-discount-text-font-family) !important;
    color: var(--product-price-discount-text-color) !important;
}

.c-store-cart  .image-zoom-wrapper * {
    border-radius: var(--product-image-border-radius) !important;
}